@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100i");

html body {
  background: #fff;
  height: 100%;
}

.text {
  margin-top: 30px;
  text-align: center;
  font-weight: 100;
  font-size: 4vw;
  color: #212121;
  font-family: "Josefin Sans", sans-serif;
  grid-column: 3/4;
  transition: all 1s linear;
  grid-row-start: 1;
  animation: up 6s ease-in-out;
}

.dud {
  color: #757575;
}

.content {
  color: #414141;

  opacity: 1;
  transition: all 1s;
  animation: appear 6s ease-in-out;
  margin-top: 0vh;
  font-size: 3rem;

  letter-spacing: 0.2ch;
  width: 100%;
}

@keyframes up {
  0% {
    font-size: 100px;
    margin-top: 35vh;
  }
  85% {
    font-size: 100px;
    margin-top: 35vh;
  }
  100% {
    font-size: 50px;
    margin-top: 30px;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    margin-top: 20vh;
  }
  85% {
    opacity: 0;
    margin-top: 20vh;
  }
  100% {
    opacity: 1;
    margin-top: 0vh;
  }
}

@media only screen and (max-width: 850px) {
  .text {
    font-size: 70px;
    grid-column: 2/5;
  }
}
@media only screen and (max-width: 400px) {
  .text {
    font-size: 45px;
    grid-column: 2/5;
  }
}

.showcase {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  animation: appear 6s ease-in-out;
}

p {
  color: #000;
}

#board {
  font-family: Arial, Helvetica, sans-serif;
  transform: perspective(50vh) rotateX(25deg);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  overflow: hidden;
  font-size: 5vw;
  height: 50em;
  width: 18em;
  bottom: 0;
  left: 50%;
}

#board:after {
  position: absolute;
  content: " ";
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

/* Set the scrolling animation and position it */
#content {
  animation: scroll 120s linear 6s;
  position: absolute;
  top: 100%;
}

#title,
#subtitle {
  text-align: center;
}

@keyframes scroll {
  0% {
    top: 100%;
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  23% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    top: -170%;
  }
}
