@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100i");

html body {
  font-family: "Roboto Mono", monospace;
  background: #212121;
  height: 100%;
}

.text {
  margin-top: 30px;
  text-align: center;
  font-weight: 100;
  font-size: 100px;
  color: #fafafa;
  font-family: "Josefin Sans", sans-serif;
  grid-column: 3/4;
  transition: all 1s linear;
  grid-row-start: 1;
  animation: up 6s ease-in-out;
}

.dud {
  color: #757575;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 6fr 2fr 1fr;
  grid-template-rows: 25vh auto;
  justify-content: center;
}

.content {
  grid-column: 2/5;
  grid-row-start: 2;
  color: #414141;
  height: 40vh;
  border: #fafafa solid;
  opacity: 1;
  transition: all 1s;
  animation: appear 6s ease-in-out;
  margin-top: 0vh;
}

@keyframes up {
  0% {
    margin-top: 35vh;
  }
  85% {
    margin-top: 35vh;
  }
  100% {
    margin-top: 30px;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    margin-top: 20vh;
  }
  85% {
    opacity: 0;
    margin-top: 20vh;
  }
  100% {
    opacity: 1;
    margin-top: 0vh;
  }
}

@media only screen and (max-width: 600px) {
  .text {
    font-size: 70px;
    grid-column: 2/5;
  }
}
